*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}

#wrap{width: 360px; margin: 0 auto;}
#gnb{width: 80%; height: 100%; background-color: rgba(0, 0, 0, 0.8); position: fixed; top: 0; right: -100%; transition: all 0.5s ease-in-out; z-index: 9999;}
#gnb .close{position: absolute; right: 10px; top: 10px; width: 48px; height: 48px; color: #fff; font-size: 40px; border: 0; background-color: transparent; font-weight: bolder;}
#gnb ul.main_menu{position: absolute; bottom: 0; width: 100%;}
#gnb ul.main_menu>li.mainList>a{border-top: 1px solid #fff; border-bottom: 1px solid #fff;}
#gnb ul.main_menu a{color: #fff; display: block; width: 100%; height: 48px; padding: 20px;}
#gnb ul.main_menu ul.sub_menu{display: none; border-bottom: 1px solid #fff;}
#gub ul.main_menu ul.sub_menu a{background-color: rgba(255, 255, 255, 0.3);}
#gnb ul.main_menu ul.sub_menu a::before{content:" - ";} 
#gnb ul.main_menu ul.sub_menu a:hover{background-color: pink;}

#header{height: 100px; background-color: yellow; position: relative;}
#header h1{display: block;}
#header h1 img{height: 68px; line-height: 100px;}
#header #menu{width: 48px; height: 68px; position: absolute; top: 50%; right: 30px; transform: translateY(-50%);}
#header #menu .line{width: 60px; height: 5px; background-color: #5b392f; margin: 13px 0;}
#header #menu .line:first-child{width: 80%;}
#header #menu .line:nth-child(2){width: 100%;}
#header #menu .line:last-child{width: 60%;}
#container section{height: 800px;}
#footer{height: 150px; background-color: #ccc;}